//- - icons = [ 'experience', 'education', 'phone',
                'profile', 'software', 'skills'
            ]
mixin header-title(icon, h3)
    ul.header-title
        li
            span(class='icon icon__' + icon)
        li
            h3= h3
        li.helper-line

mixin contact-form__item(id, kind_of, name, label, value)
    .contact-form__item
        label(for=id)= label
        input(type=kind_of, id=id, name=name, value=value)

mixin skills-level(headline, percent)
    li
        p= headline
        .skills-level__progress
            span.progress__line(class='w-' + percent)