
mixin header-title(icon, h3)
    ul.header-title
        li
            span(class='icon icon__' + icon)
        li
            h3= h3
        li.helper-line

mixin contact-form__item(id, type, name, label, value)
    .contact-form__item
        label.txt-uppercase(for=id)= label
        input(type=type, id=id, name=name, value=value)