mixin contact-form__item(id, type, name, label, value)
    .contact-form__item
        label.txt-uppercase(for=id)= label
        input(type=type, id=id, name=name, value=value)

.contact
    ul.header-title
        li
            span.icon.icon__phone
        li
            h3 Contact
        li.helper-line
    .contact-form
        form(autocomplete='off')
            fieldset
                +contact-form__item('address', 'text', 'address', 'Address', 'Main Street, City.')
                +contact-form__item('email', 'email', 'email', 'E-mail', 'contact@domain.com')
                +contact-form__item('phone', 'text', 'phone', 'Phone', '555-555-555')
                +contact-form__item('website', 'text', 'website', 'Website', 'www.yourweb.com')